{% extends "layout.html" %}
{% load static %}
{% block content %}

<div>

    {% for post in post_list %}
        <div>
            <ul class="gallery">
                <a href="{% url 'post_detail' post.slug  %}">
                    <img class="img" src="{{post.image}}" alt="image not found">
                    <h2 class="ph">{{ post.title }}</h2>
                    <p class="pi">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="p">{{post.content|slice:":145"}} ... </p>
                </a>
            </ul>
        </div>
    {% endfor %}
</div>

{% endblock %}
