<!DOCTYPE html>
<html>

    <head>
        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/app/static/favicon/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/app/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/app/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/app/static/favicon/site.webmanifest">

        <link rel="stylesheet" href="/app/static/styles.css">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> True Crime Witch </title>
    </head>

    <body>
        <div class="block1">
            <nav class="navbar">
                <ul>
                    <li>
                        <form action="{% url 'search_results' %}" method="GET">
                            <input type="text" name="q" placeholder="Search">
                            <button class="button" type="submit"><img class="sm2" src="/app/static/icons/search.png"></button>
                        </form>
                    </li>
                    <li><a href="{% url 'podcasts' %}">Podcasts</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    
                    
                </ul>
            </nav>
            <h1 class="h1">True Crime Witch</h1>
        </div>
        
        {% block content %}
        <!-- CONTENT HERE -->
        {% endblock content %}

    </body>
    <footer>
        <nav class="footbar">
            <ul>
                <li><a href="https://www.facebook.com/truecrimewitchh"><img class="sm" src="/app/static/icons/facebook.png"></a></li>
                <li><a href="https://twitter.com/truecrimewitch"><img class="sm" src="/app/static/icons/twitter.png"></a></li>
                <li><a href="https://www.tumblr.com/truecrimewitch"><img class="sm" src="/app/static/icons/tumblr.png"></a></li>
                <li><a href="https://www.instagram.com/truecrimewitch/"><img class="sm" src="/app/static/icons/instagram.png"></a></li>              
            </ul>
            <p>&copy; {% now 'Y' %} : TrueCrimeWitch </p>
        </nav>
    </footer>

</html>
 

