{% extends "layout.html" %}
{% block content %}

<div class="col-md-4">
    <h2>Ep 1</h2>
    <p>...</p>
    <p><a class="btn btn-default" href="https://google.com">Learn more &raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>Ep 2</h2>
    <p>...</p>
    <p><a class="btn btn-default" href="https://google.com">Learn more &raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>Ep 3</h2>
    <p>...</p>
    <p><a class="btn btn-default" href="http://google.com">Learn more &raquo;</a></p>
</div>

{% endblock %}